<!doctype html>
<html>
    <head>

        <div id="msg">

        </div>
        <!-- <script src='socket.io.js'></script> -->
        <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script> -->
        <script type="importmap">
            {
            "imports": {
                "socket.io-client": "https://cdn.socket.io/4.4.1/socket.io.esm.min.js"
            }
            }
        </script>
        
        <script type="module">
            import { io } from "socket.io-client";
        
            const socket = io.connect("ws://" + document.domain + ":5000");

            socket.emit("hello", { a: "b", c: [] });

            // socket.on('update', data => {
            //   console.log(data);
            //   alert("hey");
            // });
            socket.on('update', function(data) {
            console.log(data);
            //alert("hey");
            document.getElementById("msg").innerHTML += "\n- " + data.data;
            });
        </script>
    </head>
    <body>
        <ul id='messages'></ul>
    </body>
</html>